*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(90deg, rgb(164, 16, 223), rgb(16, 241, 46));
}
h1{
    color: white;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
main{
    background-image: linear-gradient(180deg, rgb(229, 245, 83), pink);
    /* border: 1px solid black; */
    border-radius: 10px;
    /* height: 100vh; */
    margin: 50px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#card{
    margin: 10px;
    background-color: rgb(88, 223, 61);
    width: 250px;
    /* height: 150px; */
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 5px 10px rgb(164, 16, 223);
    padding: 10px;
    cursor: pointer;
    transition: .2s;
}
#card:hover{
    background-color: blueviolet;
    /* width: 270px; */
    /* height: 140px; */
    color: white;
    font-size: 15px;
    box-shadow: none;
}